<mat-toolbar color="primary" class="header-nav mat-toolbar-single-row">
  <span (mouseenter)="scatteryTooltip.show()" (mouseleave)="scatteryTooltip.hide()" #scatteryTooltip="matTooltip"
        matTooltip="Scattery says Hi!" matTooltipPosition="below">
    <mat-icon>adb</mat-icon>
  </span>
  <span>
    <a (mouseenter)="gitHubTooltip.show()" (mouseleave)="gitHubTooltip.hide()" #gitHubTooltip="matTooltip"
       href="https://github.com/devNextDoor/devNextDoor.github.io" matTooltip="Glasses on with GitHub!" matTooltipPosition="below">
      <mat-icon>code</mat-icon>
    </a>
    <a (mouseenter)="linkedInTooltip.show()" (mouseleave)="linkedInTooltip.hide()" #linkedInTooltip="matTooltip"
       href="https://www.linkedin.com/in/pavani-koduri/" matTooltip="Drop your message on LinkedIn :)" matTooltipPosition="below">
      <mat-icon>near_me</mat-icon>
    </a>
  </span>
</mat-toolbar>
