:host {
    width: 100%;
}
.header-nav {
  justify-content: space-between;
  opacity: 0.9;
  a {
    text-decoration: none;
  }

  mat-icon {
    color: #fff;
    font-size: 2rem;
    vertical-align: text-bottom;
    margin: 1rem;
  }
}
